%scrollbar {
  &::-webkit-scrollbar {
  	height: 7px;
  	background-color: none;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  	border-radius: 10px;
  	background-color: #444;
  }

  &::-webkit-scrollbar-thumb {
  	border-radius: 10px;
  	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  	background-color: #eee;
  }
}

.toc-link {
  overflow-y: hidden; /* prevent scrollbars on Windows */
}

#scheme {
  text-align: center;
  img { width: 55%; }
}
// .content h2 {
//   padding-top: 2.4em;
//   padding-bottom: 0;
// }
